*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
bin/
gen/
out/
.navigation/
*.log
*.hprof
*.class
*.jar
*.war
*.ear
*.db
*.db-journal
*.db-shm
*.db-wal
*.seed.db
secrets.properties
